@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

body {}

.container {
    width: 1170px;
    margin: 0 auto;
}

.toolbar {
    height: 70px;
    background-color: #1d2124;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar__menu {
    text-align: center;
    vertical-align: middle;
    display: flex;
}

.toolbar__menu-item-link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    align-self: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 70px;
    /*    padding: 0 17px*/
}


.toolbar__menu-item-link:not(:last-child) {
    margin-right: 37px;

}

/*
.toolbar__search-botton {
    height: 70px;
    width: 70px;
    background-color: #1d2124;
    background-image: url(../img/search.png);
    background-position: center center;
    background-repeat: no-repeat;
}
*/

.toolbar__searchBox-wraper {
    position: relative;
    background-color: #171a1c;
    height: 100%;
    min-width: 70px;
}

.toolbar__searchBox {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background: #171a1c;
    /*
    height: 40px;
border-radius: 40px;
*/
}

.toolbar__searchBox:hover > .toolbar__searchInput {
    width: calc(100vw - 48px);
    padding: 15px 15px;
}

.toolbar__searchBox:hover > .toolbar__searchButton {
    background: white;
    color: #2f3640;
}

.toolbar__searchButton {
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #171a1c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border: none;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.toolbar__searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
    .toolbar__searchBox:hover > .toolbar__searchInput {
        width: 150px;
        padding: 0 6px;
    }
}

.head {
    display: flex;
    height: 380px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/img/header-bg.jpeg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
    justify-content: center;
}

.head__title-page {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    font-weight: 400;
    text-transform: uppercase;
    align-self: center;
    margin-bottom: 45px;
}

.head__nav-btn {
    margin: 0 auto;
}

.head__nav-btn-item {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 170px;
    padding: 20px 0;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 3px
}

.head__nav-btn-item:not(:last-child) {
    margin-right: 20px;
}

.head__nav-btn-subscribe {
    background-color: #89ca62;
}

.head__nav-btn-best {
    background-color: #14b9d5;
}

.most-popular {
    background-color: #f2f2f2;
}

.block-title {
    color: #18b4cf;
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 52px;
}

/*.most-popular__wraper {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start
}*/

.most-popular__wraper {
    display: inline-flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    align-items: flex-start;
    flex-direction: column;
    height: 900px;
}

.most-popular__item {
    width: 370px;
    margin-bottom: 30px;
    align-self: flex-start;
    margin-right: 30px;
}

.most-popular__item:nth-child(3) {
    margin-right: 0
}

.most-popular__item:nth-child(6) {
    margin-right: 0
}


.post-title {
    /*    padding: 22px 0;*/
    padding: 16px 0;
    background-color: #fff;
    color: #353a3d;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: -3px;
}

.client {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/img/parallax-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 590px;
}

.client__title {
    text-align: center;
    padding-top: 200px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 118px;
}

.client__title::after {
    content: '';
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    position: absolute;
    top: calc(100% + 55px);
    left: 50%;
    transform: translateX(-50%);
}

.client-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 76px;
    align-items: center;
    justify-items: center;
}

.client-wrapper {
    padding-bottom: 200px;
}

.top-rated {}

.top-rated-wrapper {
    display: flex;
    max-width: 100vw;
    grid-template-columns: repeat(7, auto);

}

.top-rated-wrapper__img {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    min-width: 0;
}

.news__wrapper {
    display: grid;
    grid-template-columns: repeat(4, .25fr);
    /*    grid-template-rows: repeat(4, 1fr);*/
    /*    grid-gap: 50px;*/
}

.news__post1 {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    background-color: #f9f7f7;
    margin-right: 20px;
    margin-bottom: 42px;
}

.news__post2 {
    grid-area: 1 / 4 / 2 / 5;
    justify-self: end;
}

.news__post3 {
    grid-area: 2 / 1 / 3 / 3;
    margin-right: 30px;
    margin-bottom: 43px;
}

.news__post4 {
    grid-area: 2 / 3 / 3 / 5;
    margin-left: 30px;
    margin-bottom: 43px;
}

.news__post5 {
    grid-area: 3 / 1 / 4 / 3;
    margin-right: 30px;
    margin-bottom: 43px;
}

.news__post6 {
    grid-area: 3 / 3 / 4 / 5;
    margin-left: 30px;
    margin-bottom: 43px;
}

.news__post7 {
    grid-area: 4 / 1 / 5 / 2;
    justify-self: start;
}

.news__post8 {
    grid-area: 4 / 2 / 5 / 5;
    display: flex;
    background-color: #f9f7f7;
    margin-left: 20px;
    margin-bottom: 42px;
}

.news-post__content {
    background-color: #f9f7f7;
    padding: 0 25px 21px;
    align-self: center
}

img.news-post__img {
    width: 100%;
}

.news__title {
    background-color: #f9f7f7;
}

.post-title_right {
    text-align: right
}

.news-post__desc {
    color: #5b6469;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    width: 320px;
    line-height: 21px;
}

.news-pos__desc_auto {
    width: auto;
}

.footer {

    background-color: #1d2124;
}

.footer__wraper {
    display: grid;
    grid-template-columns: .8fr .2fr;
    height: 80px;
}

.footer__copy {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;

    align-self: center;
}

.footer__dev {
    justify-self: end;
    align-self: center;
}
