body {
    font-family: Verdana, Arial, sans-serif;
    height: 100%;
    width: 100%;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*Stylesheet for header start*/

.head {
    height: 35px;
    width: 1064px;
    margin: 50px auto 45px;
}

.logo {
    width: 165px;
}

.logo::after {
    content: "";
    clear: both;
}

.logo-img {
    float: left;
    height: 46px;
    width: 46px;
    float: left;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    transition: 0.5s linear;
}

.logo:hover .logo-img {
    background-image: url(../img/logo-orange.png);
    transition: 0.5s linear;
}

.logo:hover .txt-logo {
    color: #f26522;
    transition: 0.5s linear;
}

.txt-logo {
    font-size: 29px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 21px;
    float: left;
    transition: 0.5s linear;
    margin-left: 59px;
}

.sub-text-logo {
    font-size: 18px;
}

.contact {
    font-size: 18px;
    float: right;
    text-align: right;
    width: 250px;
    color: #fff;
}

/*Stylesheet for header end*/

/*Stylesheet for content start*/
.content {
    height: 620px;
    width: 1066px;
    margin: 0 auto;
    font-size: 0;
}

.wraper-card {
    display: inline-block;
    margin-right: 59px;
    margin-bottom: 20px;
}

.border-wrap {
    background: linear-gradient(to bottom, #fefefe, rgba(254, 254, 254, 0));
    padding: 3px;
    width: auto;
    display: inline-block;
    -webkit-box-shadow: 0px 25px 38px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 25px 38px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 25px 38px -15px rgba(0, 0, 0, 0.75);
    position: relative;
    overflow: hidden;
}

.card {
    height: 194px;
    width: 310px;
    background-color: #fff;
    display: inline-block;
    box-sizing: border-box;
}

.wraper-card:nth-child(3),
.wraper-card:nth-child(6) {
    margin-right: 0;
}

.title-card {
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
    transition: 0.5s linear;
}

.title-card-link {
    text-decoration: none;
}

.wraper-card:hover .title-card {
    color: #f26522;
    transition: 0.5s linear;
}

.detail-inform {
    height: 63px;
    width: 316px;
    position: absolute;
    background-color: #f26522;
    bottom: -63px;
    left: 0;
    font-size: 10px;
    color: #fff;
    box-sizing: border-box;
    padding: 5px 20px 15px 20px;
    line-height: 24px;
    opacity: 0;
    transition-property: all;
    transition-duration: 2s;
}

.wraper-card:hover .detail-inform {
    bottom: 0;
    opacity: 1;
}

.price {
    margin-top: 7px;
    font-size: 20px;
}

.view {
    font-size: 14px;
    margin-left: 125px;
}

.view::after {
    content: "\f105";
    color: #fff;
    font-family: fontawesome;
    padding-left: 15px;
}

.card-1 {
    background-image: url(../img/Layer%2021.png);
    background-size: cover;
}

.card-2 {
    background-image: url(../img/Layer%2022.png);
    background-size: cover;
}

.card-3 {
    background-image: url(../img/Layer%2023.png);
    background-size: cover;
}

.card-4 {
    background-image: url(../img/Layer%2024.png);
    background-size: cover;
}

.card-5 {
    background-image: url(../img/Layer%2025.png);
    background-size: cover;
}

.card-6 {
    background-image: url(../img/Layer%2026.png);
    background-size: cover;
}

/*Stylesheet for content end*/

/*Stylesheet for footer start*/
.copy {
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -30px;
}

/*Stylesheet for footer end*/
