body {
    font-family: Verdana, sans-serif;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.clearfix {
    clear: both;
}

.screen {
    background-image: url(../img/bg.png);
    background-size: cover;
    min-height: 100vh;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

/*Style header */

.head {
    background-color: rgba(0, 0, 0, .4);
    border: none;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    display: inline-block;
}

.logo a {
    font-size: 20px;
    color: white;
    padding: 20px 35px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s linear;
}

.logo:hover a {
    transition: 0.3s linear;
    color: #3cb878;
    display: inline-block;
}

.nav-icon {
    float: right;
    padding: 20px 0;
}

.icon {
    display: inline-block;
    padding-right: 28px;
}

.icon:last-child {
    border-right: 1px solid rgba(255, 255, 255, .3)
}

.calendar {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url(../img/h-icon.png);
    transition: 0.3s linear;
}

.forum {
    display: inline-block;
    height: 20px;
    width: 28px;
    background-image: url(../img/h-icon.png);
    background-position: center;
    transition: 0.3s linear;
}

.journey {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url(../img/h-icon.png);
    background-position: right;
    transition: 0.3s linear;
}

.calendar:hover {
    background-image: url(../img/h-icon-hover.png);
    transition: 0.3s linear;
}

.forum:hover {
    background-image: url(../img/h-icon-hover.png);
    transition: 0.3s linear;
}

.journey:hover {
    background-image: url(../img/h-icon-hover.png);
    transition: 0.3s linear;
}

.login {
    display: inline-block;
    float: right;
    padding: 22px 35px 22px 28px;
}

.login-text {
    font-size: 14px;
    color: white;
}

.link {
    color: #3cb878;
    text-decoration: none;
}

/*Style header*/

.main {
    position: relative;
    height: calc(100% - 62px);
    width: 100%;
}

.modal {
    width: 325px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 32px 60px;
    border-radius: 10px;
}

.title {
    font-size: 20px;
    color: #555;
    display: inline-block;
}

.title::after {
    content: '';
    display: block;
    position: absolute;
    height: 18px;
    width: 18px;
    background-color: #3cb878;
    top: 34px;
    left: 0;

}

.right {
    float: right;
    line-height: 20px;
    font-size: 14px;
}

.social-auth {
    color: white;
    display: inline-block;
    font-size: 16px;
    width: 157px;
    padding: 9px 0;
    margin-top: 15px;
}

.fa {
    margin: 0 9px;
    padding: 2px 12px;
    border-right: 1px solid rgba(0, 0, 0, .3);
    font-size: 23px;
}

.fb {
    background-color: #305db8;
    text-decoration: none;
    border-radius: 2px;
    margin-right: 11px;
    line-height: 27px;
    vertical-align: middle;
}

.gg {
    background-color: #df4a32;
    text-decoration: none;
    border-radius: 2px;
    line-height: 27px;
    vertical-align: middle;
}

.social-login-box {
    font-size: 0;
}

.hr-or {
    color: #848484;
    text-align: center;
    margin-top: 30px;
}

.hr-or::after {
    content: '';
    height: 1px;
    width: 135px;
    background-color: #eaeaea;
    left: 60px;
    top: 150px;
    position: absolute
}

.hr-or::before {
    content: '';
    height: 1px;
    width: 135px;
    background-color: #eaeaea;
    right: 60px;
    top: 150px;
    position: absolute
}

.form-fiel input:not([type="checkbox"]) {
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    margin-top: 15px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    color: #434343;
    font-size: 14px;
}

.form-fiel input:focus {
    box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.5);
}

.form-fiel input::placeholder {
    color: #bebebe;
    font-size: 14px;
}

.btn {
    background-color: #3cb878;
    color: white;
    border-radius: 3px;
    font-size: 16px;
    width: 100%;
    border: none;
    padding: 15px 0;
}

input[type="checkbox"] {
    display: none;
}

.box {
    height: 20px;
    width: 20px;
    border: 1px solid #eaeaea;
    display: inline-block;
    user-select: none;
    border-radius: 2px;
    margin: 20px 0;
}

.stick {
    display: inline-block;
    height: 0;
    width: 0;
    background-color: #3cb878;
    transform: translate(11px, 4px) rotate(43deg);
}

.stick2 {
    display: inline-block;
    height: 0;
    width: 0;
    background-color: #3cb878;
    transform: translate(0px, 0px) rotate(40deg);
}

input:checked + .stick {
    height: 14px;
    width: 3px;
    transition: all 200ms;
}

input:checked ~ .stick2 {
    height: 3px;
    width: 7px;
    transition: all 200ms;
}
