/*General stylesheet*/

@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

body {
    font-family: Arimo, sans-serif;
}

.container {
    background-color: #3a4965;
}

.table-box {
    padding: 30px 0;
}

td {
    vertical-align: middle;
    text-align: center;
    /*    padding: 22px 0;*/
}

tfoot tr {
    height: 110px;
}

/*General stylesheet*/

/*First Table stylesheet*/
.price-table {
    width: 1145px;
    height: 685px;
    margin: auto;
    color: #484848;
    text-transform: uppercase;
}

.price {
    font-size: 60px;
    font-weight: bold;
    position: relative
}

.price::after {
    content: 'Per Month';
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    vertical-align: 0;
    text-transform: uppercase;
    margin: -33px;
}

.cent {
    vertical-align: 24px;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}

/*
.price::before {
    content: '.99';
    display: inline-block;
    font-size: 24px;
    position: absolute;
    top: 28px;
    right: 115px;
}
*/

.first {
    background-color: #484848;
    border-bottom: 10px solid #404040;
    border-radius: 5px;
    transition: 0.3s linear;
}

.two {
    background-color: #89c331;
    border-bottom: 10px solid #79b027;
    border-radius: 5px;
    transition: 0.3s linear;
}

.third {
    background-color: #f04a56;
    border-bottom: 10px solid #df3a46;
    border-radius: 5px;
    transition: 0.3s linear;
}

.fourth {
    background-color: #20807c;
    border-bottom: 10px solid #16736f;
    border-radius: 5px;
    transition: 0.3s linear;
}

.first:hover {
    background-color: #404040;
    transition: 0.3s linear;
}

.two:hover {
    background-color: #79b027;
    transition: 0.3s linear;
}

.third:hover {
    background-color: #df3a46;
    transition: 0.3s linear;
}

.fourth:hover {
    background-color: #16736f;
    transition: 0.3s linear;
}

.fa {
    color: #848484;
    font-size: 24px;
    padding-right: 10px;
}

.btn {
    text-decoration: none;
    color: white;
    padding: 20px 55px 10px 55px;
}

.lowprice {
    color: white;
    background-color: #89c331;
    vertical-align: middle;
    font-weight: bold;
    font-size: 24px;
}

.middleprice {
    color: white;
    background-color: #f04a56 !important;
    vertical-align: middle;
    font-weight: bold;
    font-size: 30px;
}

.topprice {
    color: white;
    vertical-align: middle;
    background-color: #20807c !important;
    font-weight: bold;
    font-size: 24px;
}

.nametable {
    padding: 60px 0;
}

.bolder {
    font-size: 30px;
    font-weight: bolder;
    display: block;
}

.first-col {
    width: 310px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 1%)
}

.third-col {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 1%)
}

.fourth-col {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 1%)
}

/*First Table stylesheet*/

/*Second Table stylesheet*/
.price-table-h {
    width: 1140px;
    height: 610px;
    margin: auto;
    color: #484848;
    text-transform: uppercase;
}

.title-plan {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.price-table-h td {
    width: 160px;
}

.name-tag {
    font-size: 14px !important;
    padding: 35px 0;
    font-weight: 400 !important;
    background-color: #fafafa !important;
}

.bolder-h {
    font-size: 20px;
    font-weight: bolder;
    display: block;
}

.h-table .fa {
    display: block;
    padding-bottom: 5px;
    padding-right: 0;
}

.h-table th {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.price-table-h th:nth-child(even) {
    background-color: #e3e3e3;
}

.price-table-h th:nth-child(odd) {
    background-color: #f2f2f2;
}

.main-tb2 td:nth-child(even) {
    background-color: #e3e3e3;
}

.main-tb2 td:nth-child(odd) {
    background-color: #f2f2f2;
}

.main-tb2 td:first-of-type {
    width: 200px;
}

.low {
    background-color: #89c331 !important;
}

.middle {
    background-color: #f04a56 !important;
}

.top {
    background-color: #20807c !important;
}

.cent-h {
    vertical-align: 14px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

.price-h {
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin-bottom: 14px;
}

.price-h::after {
    content: 'Per Month';
    display: inline-block;
    font-size: 14px;
    vertical-align: 0;
    text-transform: uppercase;
    margin-left: 3px;
}

.br-h {
    display: block;
    margin-bottom: 10px;
}

.btn-h {
    text-decoration: none;
    color: white;
    padding: 15px 30px 10px 30px;
    background-color: #484848;
    border-bottom: 5px solid #404040;
    border-radius: 5px;
    transition: 0.3s linear;
    font-size: 16px;
    display: inline-block;
}

.first-row-h {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 2%)
}

.main-tb tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.main-tb tr:nth-child(even) {
    background-color: #e3e3e3;
}

.fbc {
    background-color: #dddddd;
}

.sbc {
    background-color: #eee;
}

.tbc {
    background-color: #f4f4f4;
}

/*Second Table stylesheet*/

/* Не работает псевдоклас через colspan*/

.second-col:last-child {
    background-color: #dddddd;
}

/* Не работает псевдоклас*/
