body {
    font-family: Roboto, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    font-size: 80px;
    margin: 30px 0;
}

.logo span {
    color: #4bcaff;
}

.top-menu {
    text-align: center;
    background-color: #35444f;
    font-size: 24px;
}

.top-menu ul li {
    display: inline-block;
    padding: 23px 0;
}

.top-menu ul li a {
    color: #fff;
    padding: 23px 40px;
}

.top-menu ul li:hover {
    background-color: #222f3a;
}

main {
    margin-top: 50px;
    height: 850px;
}

.left-menu {
    border: 1px solid #35444f;
    width: 340px;
    float: left;
}

.left-menu ul li a {
    color: #35444f;
    padding: 23px 40px;
    font-size: 27px;
}

.left-menu ul li {
    padding: 23px 0;
}

.left-menu ul li:hover {
    background-color: #dbdbdb;
    padding-left: 20px;
}

.content {
    width: 880px;
    border: 1px solid #35444f;
    height: 525px;
    float: right;
    top: 0;
    display: block;
    text-align: center;
    line-height: 525px;
}

.content img {
    vertical-align: middle;
}

.content img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.content img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.content p {
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    padding: 0 35px;
    margin-top: 30px;
}

footer {
    background-color: #b4b7ba;
    padding: 0 35px;
}

.footer-menu {
    width: 950px;
}

.footer-menu ul li {
    display: inline-block;
    padding: 20px 23px;
    font-size: 24px;
    vertical-align: middle;
}

.footer-menu ul li a:hover {
    color: #3181a6;
    text-decoration: underline;
}

.copy {
    font-size: 24px;
    float: right;
    margin-top: -45px;
}
