body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.ham-title-section {
    color: #4e4e4e;
    font-size: 36px;
    text-align: center;
    padding-top: 80px;
    position: relative;
    margin-bottom: 110px;
}

.ham-title-section::after, .ham-title-section::before {
    content: "";
    height: 1px;
    width: 76px;
    background-color: #18cfab;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.ham-title-section::before {
    top: calc(100% + 35px);
    left: calc(50% - 12px);
}

.ham-title-section::after {
    top: calc(100% + 40px);
    right: calc(50% - 12px);
}

/*Header menu*/

.ham-header_menu {
    display: flex;
    justify-content: flex-end;
}

.ham-header {
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/bg/section-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.ham-header_menu-section {
    background-color: rgba(146, 145, 140, .7);
}

.ham-header_menu {
    height: 80px;
}

.menu_logo {
    margin-right: auto;
    height: 67px;
    width: 198px;
    background-image: url("../img/Logo.png");
    background-repeat: no-repeat;
}

.logo-img {
    max-height: 67px;
}

.menu_link {
    color: #b8b8b8;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    align-self: center;
}

.menu_link-item {
    font-weight: bold;
    padding: 33px 10px;
    border-bottom: 2px solid transparent;
}

.menu_link-item:hover {
    color: #1dc8a6;
    border-bottom: 2px solid #1dc8a6;
    transition: border-bottom 500ms;
}

.menu_search-button {
    font-weight: 400;
}

/*Header Menu end*/

/*Header content*/

.ham-header_content {
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ham-header_title-content {
    text-align: center;
    color: white;
}

.ham-header_h2-title-content, .ham-header_h1-title-content {
    text-transform: uppercase;
    font-weight: bold;
}

.ham-header_h2-title-content {
    font-size: 35px;
    padding-bottom: 45px;
}

.ham-header_h1-title-content {
    font-size: 79px;
    padding-bottom: 35px;
}

.ham-header_p-title-content {
    font-size: 34px;
    font-weight: 300;
    color: #d4d4d4;
}

.color-text {
    color: #1dc8a6;
}

.ham-header_content-container {
    display: flex;
    flex-direction: column;
}

.ham-header_content-nav {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
}

.ham-header_content-link {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 29px 30px 25px;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: inset 0px 4px 0px 0px rgba(255,255,255,1);
}

.inform-button {
    background-color: #18cfab;
    margin-right: 14px;
}

.buy-button {
    background-color: #00cbf6;
    margin-left: 14px;
}

/*Header content end*/

/*Option section start*/

.ham-option {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 367px;
}

.ham-option_item {
    flex-grow: 1;
    flex-shrink: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px auto;
    position: relative;
}

.ham-option_item:nth-child(1) {
     background-image: url("../img/option/Forma1.png");
 }

.ham-option_item:nth-child(1)::after {
    content: "Different theme option";
    color: #18cfab;
}

.ham-option_item:nth-child(2) {
    background-image: url("../img/option/Forma2.png");
}

.ham-option_item:nth-child(2)::after {
    content: "fully customizable";
    color: white;
}

.ham-option_item:nth-child(3) {
    background-image: url("../img/option/Forma3.png");
}

.ham-option_item:nth-child(3)::after {
    content: "unlimited support";
    color: #18cfab;
}

.ham-option_item:nth-child(4) {
    background-image: url("../img/option/Forma4.png");
}

.ham-option_item:nth-child(4)::after {
    content: "responsive all device";
    color: white;
}

.ham-option_item::after {
    position: absolute;
    bottom: 20%;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.ham-option_item:nth-child(odd) {
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
}

.ham-option_item:nth-child(even) {
    background-color: #18cfab;
    border-top: 7px solid white;
}

/*Option section end*/

/*Section Our services start*/

.tabs {
    margin: 0 0 100px;
}

.tabs__caption {
    display: flex;
}

.tabs__caption-item {
    padding: 25px 0;
    background: #f8fcfe;
    color: #717171;
    border: solid #ebebeb;
    border-width: 1px 1px 1px 0;
    text-align: center;
    flex-grow: 1;
}

.tabs__caption-item:first-child {
    border-left: 1px solid #ebebeb;
}

.tabs__caption-item:not(.active) {
    cursor: pointer;
}
.tabs__caption .active {
    background: #18cfab;
    color: white;
    border-color: #18cfab;
    position: relative;
}

.tabs__caption .active::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 11px 11px 0 11px;
    border-color: #18cfab transparent transparent transparent;
}

.tabs__content {
    display: none;
    line-height: 1.3;
    margin-top: 25px;
    color: #777777;
}
.tabs__content.active {
    display: block;
    text-align: justify;
    display: flex;
}

.tabs__content-text {
    padding-left: 25px;
}

/*Section Our services end*/
/*Section clarion start*/

.ham-clarion {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg/section-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ham-clarion_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ham-clarion_content_title {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #18cfab;
    margin-top: 125px;
    margin-bottom: 30px;
}

.ham-clarion_content-text {
    font-size: 16px;
    text-align: center;
    color: #d8d8d8;
    margin-bottom: 75px;
}

.ham-clarion_content .inform-button {
    margin-bottom: 145px;
}

/*Section clarion end*/

/*Section works start*/

.ham-amazing {
    background-color: #f8fcfe;
    border-bottom: 1px solid #e1e1e1;
}

.button-group {
    font-size: 0;
    display: flex;
    justify-content: center;
}

/*Button*/
.filter-button {
    display: inline-block;
    padding: 20px 30px;
    margin-bottom: 70px;
    background-color: white;
    border: solid #ebebeb;
    border-width: 1px 1px 1px 0px;
    color: #717171;
    font-size: 14px;
    cursor: pointer;
}

.filter-button:first-child {
    border-left: 1px solid #ededed;
}

.filter-button:hover {
    color: #18cfab;
}

.filter-button:active,
.filter-button.is-checked {
    color: #18cfab;
    position: relative;
}

.filter-button.is-checked::after {
    content: "";
    color: #18cfab;
    height: 2px;
    width: 100%;
    background-color: #18cfab;
    position: absolute;
    bottom: 100%;
    left: 0;
}

.filter-button:focus {
    outline: none;
}
/*Button end*/

.grid {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 70px;
}

/* ---- .item ---- */

.element-item {
    width: 25%;
    height: 205px;
    background: #888;
    color: #262524;
    position: relative;
}

.item {
    display: none;
}

.element-item:hover .item-element {
    opacity: 1;
    transition: opacity 300ms;
}

.item-element-images {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn-load-more {
    color: white;
    border-radius: 3px;
    background-color: #18cfab;
    text-transform: uppercase;
    font-weight: bold;
    width: 165px;
    height: 65px;
    border: none;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 100px;
    font-size: 14px;
}

.icon-btn-more {
    padding-right:  10px;
}

/*Hover element*/
.item-element {
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: #f8fcfe;
    border-top: 3px solid #18cfab;
    transition: opacity 500ms;
    position: absolute;
    top: 0;
    left: 0;
}

.element-link {
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 35px;
}

.element-link a:first-child {
    margin-right: 5px;
}

.element-link a {
    color: white;
    background-color: #18cfab;
    padding: 12px 13px;
    border-radius: 100%;
    text-decoration: none;
    border: 1px solid #18cfab;
}

.element-link a:hover {
    color: #18cfab;
    background-color: #f8fcfe;
    border: 1px solid #18cfab;
}

a.element-link_link-open.fa.fa-link {
    transform: rotate(90deg);
}

.item-element-title {
    text-transform: uppercase;
    color: #18cfab;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 14px;
}

.item-element-text {
    text-align: center;
    font-size: 12px;
    color: #8a8a8a;
}
/*Hover element end*/
/* Section Works End*/

/**/

.ham-news_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 81px;
}

.ham-news_content-item {
    height: 280px;
    /*width: 263px;*/
    width: calc(25% - 20px);
    box-sizing: border-box;
    font-size: 0;
    cursor: pointer;
    margin-bottom: 45px;
    text-decoration: none;
}

.news_content-item-img {
    position: relative;
}

.news_item-img {
    width: 100%;
    height: 208px;
    object-fit: cover;
    object-position: center;
}

.news_content-item-date {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #203e38;
    color: white;
    font-size: 16px;
    padding: 13px 18px;
    text-align: center;
}

.number-date {
    padding-bottom: 10px;
}

.news_content-item-inform {
    border: 1px solid #ebebeb;
    background-color: #f8fcfe;
}

.news_content-item-inform-title {
    padding: 12px;
    font-size: 18px;
    color: #717171;
    font-weight: bold;
}

.news_content-item-inform-meta {
    padding: 0 0 10px 12px;
    color: #777777;
    font-size: 14px;
}

.ham-news_content-item:hover .news_content-item-date {
    background-color: #18cfab;
}

.ham-news_content-item:hover .news_content-item-inform-title {
    color: #18cfab;
}

/*About start*/

.ham-reviews {
    min-height: 852px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/bg/section-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.reviews-title {
    color: white;
    margin-bottom: 175px;
}

.slider-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-heading {
    color: #ffffff;
    margin-bottom: 180px;
}

.reviews-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-quote {
    position: relative;
    font-size: 16px;
    font-weight: 300;
    min-height: 100px;
    color: #bbbbbb;
    text-align: center;
    line-height: 30px;
}

.review-quote:before {
    content: '';
    position: absolute;
    width: 44px;
    height: 30px;
    top: -65px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/qoutes-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.review-name {
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 43px;
}

.review-position {
    font-size: 13px;
    font-weight: 300;
    margin-top: 18px;
    color: #bbbbbb;
}

.review-avatar {
    border-radius: 50%;
    width: 143px;
    height: 143px;
    margin-top: 37px;
    box-shadow: 0 0 0 10px rgba(31, 218, 181, 0.2);
    border: 4px solid #18cfab;
}

.review-slider {
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.slider-btn {
    width: 31px;
    height: 31px;
    background: transparent;
    border: 1px solid #bbbbbb;
    outline: none;
    color: #777777;
    transition: all .3s;
    cursor: pointer;
}

.slider-btn:hover {
    border: none;
    background: #18cfab;
}

.slider-btn:hover .fa:before {
    color: #ffffff;
}

.slider-btn:first-child {
    margin-right: 34px;
}

.slider-btn:last-child {
    margin-left: 34px;
}

.slider-btn .fa {
    font-size: 13px;
    color: #bbbbbb;
}

.slider-avatar {
    position: relative;
    box-sizing: border-box;
    width: 58px;
    height: 58px;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(31, 218, 181, 0.2);
    transition: bottom .5s, border .5s;
}

.slider-avatar:not(:first-of-type) {
    margin-left: 38px;
}

.slider-avatar:hover, .slider-avatar_active {
    bottom: 10px;
    border: 2px solid #18cfab;
}

/*About end*/

/* Gallery best start*/



/*Footer start*/

.ham-footer {
    background-color: #22353f;

}

.ham-copyright {
    color: #aeaeae;
    text-align: center;
    padding: 45px 0;
    font-size: 14px;
}

.copyright-link {
    color: #18cfab;
    text-decoration: none;
}

/*Footer end*/


/*Modal search start*/

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: none;
}

.search {
    display: flex;
    justify-content: space-between;
}

.search-input {
    padding: 10px 15px;
    outline: none;
    width: 100%;
    font-size: 18px;
    color: #262524;
    margin-right: 15px;
    border: 2px solid #d8d8d8;;
    background-color: #f8fcfe;
}

.search-button {
    background-color: #18cfab;
    border: none;
    color: white;
    padding: 0 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.close-modal {
    font-size: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    text-decoration: none;
    transition: text-shadow 300ms;
}

.close-modal:hover {
    text-shadow: 2px 1px rgba(24,207,171,1);
    transition: text-shadow 300ms;
}

.open-modal {
    display: flex;
}

/*Modal search end*/
