a {
    text-decoration: none;
    
}

nav {
    padding: 32px 0!important;
}

nav ul {
    margin: 0;
    padding: 4px;
    max-width: 500px;
    margin: auto;
   }

nav ul li {
    display: inline;
    padding-right: 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: #16A085;
    left: 332px;
    top: 32px;
    text-align: center;
}

nav ul li:last-child {
    padding-right: 0px;
}

nav ul li a {
    color: #16A085;
    left: 332px;
    top: 32px;
    height: 14px;
    width: 59px;
}

section {
    height: 790px;
    width: auto;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background: #f5f6f7;
    padding-bottom: 70px;
}

h1 {
    padding-top: 40px!important;
    text-align: center;
    font-family: sans-serif!important;
    text-transform: uppercase;
    font-size: 22px!important;
    font-weight: bold!important;
    margin-bottom: 20px!important;
}

p{
    text-align: center;
    font-size: 16px!important;
    font-family: sans-serif!important;
    padding: 0 12%!important;
    line-height: 1.5!important;
}

p.two{
    margin-top: 25px;
    font-size: 16px!important;
    margin-bottom: 30px;
}

main a {
    padding: 15px 35px;
    border-radius: 2px;
    background-color: #16A085;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    width: 100px;
    text-align: center;
    display: block;
    margin: auto;
    cursor: pointer;
}

footer { padding-right: 12%!important;}

div {
    vertical-align: middle!important;
    padding: 40px 0!important; 
    text-align: right;
    font-size: 16px!important;
    font-family: sans-serif!important;
}